// Logo CSS
.app-header .navbar-brand {
  width: auto;
  img{
    max-width: 100%;
    width: 155px;
    height: auto;
  }
}

.left-nav-menu{
  li{
    display: inline-block;

    &.px-3 {
      @media (max-width: 1199px){
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
      }
    }
  }
}

// Logo style override on small screen
@media (max-width: 991.98px){
  .app-header .navbar-brand {
    left: 60px!important;
    margin-left: 0!important;
    justify-content: flex-start!important;
    padding-top: 5px!important;
  }
  .navbar-nav .nav-link{
    color: #73818f !important;
    cursor: pointer;
  }
}
