// Header Wrapper
.app-header{
  flex: 0 0 55px;
}

// Logo CSS
.app-header .navbar-brand {
  width: auto;
  img{
    max-width: 100%;
    width: 155px;
    height: auto;
  }
}

.left-nav-menu{
  margin-right: auto;
  li.nav-item{
    display: inline-flex;
    align-items: center;
    i{
      font-size: 12px;
      margin-right: 5px;
    }
    &.px-3 {
      padding-left: 0.8rem !important;
      padding-right: 0.8rem !important;
      @media (max-width: 1199px) {
        padding-left: 0.45rem !important;
        padding-right: 0.45rem !important;
      }
    }

    // Hide more button's down arrow
    .nav-link.dropdown-toggle::after{
      display: none;
    }
  }
}

.right-nav-menu {
  li.nav-item{
    &.change-language{
      border-bottom: solid 2px;
      height: 50px;
    }
    i.icon-social-github {
      font-size: 22px;
    }
    select#selectLanguage {
      cursor: pointer;
      background: #091a26;
      border: none;
      color: #fff;
      font-size: 16px;
      outline: none;
    }
  }

  .nav-link.notif-link { height: 50px; padding: 14px 5px; font-size: 22px; line-height: 1; }
  .nav-link.account-link {
    .icon-user { font-size: 22px; margin-left: 10px; }
    &:after { margin: 10px 2px 0px 5px; }
  }
  .user-title {
    display: block; max-width: 80px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
    @media (min-width: 992px) and (max-width: 1260px) {
      max-width: 46px;
    }
  }
}

.app-header .nav-item, .app-header .wizard .steps ol li, .wizard .steps ol .app-header li {
  min-width: 45px;
}

// Logo style override on small screen
@media (max-width: 575.98px) {
  .app-header .navbar-brand {
    left: 60px!important;
    margin-left: 0!important;
    justify-content: flex-start!important;
    padding-top: 5px!important;
    img {
      width: 50px;
      margin-left: -10px;
      margin-top: -5px;
    }
  }
  input#searchHeader:focus{
    left: -310px;
    max-width: 310px;
  }
}

@media (max-width: 991.98px){
  .app-header .navbar-brand {
    left: 0;
    margin: 0;
  }
  .navbar-nav .nav-link{
    // color: #73818f !important;
    cursor: pointer;
  }
}

.header-search {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 55px;
  height: 55px;

  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 55px;
    height: 55px;
    background: #091a26;
    transition: all 1s;
    z-index: 6;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 14px;
      right: 0;
      bottom: 0;
      left: 18px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -6px;
      right: 0;
      bottom: 0;
      left: 0;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 55px;
    height: 55px;
    outline: none;
    border: none;
    background: #091a26;
    color: white;
    padding: 0 20px 0 20px;
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
  input:focus, &.active input {
    width: 500px;
    opacity: 1;
    cursor: text;
    left: -500px;
  }
  input:focus ~ .search, &.active .search {
    background: #091a26;
    z-index: 6;
    &::before {
      top: 0;
      left: 0;
      width: 20px;
    }
    &::after {
      top: 0;
      left: 0;
      width: 20px;
      height: 2px;
      border: none;
      background: white;
      border-radius: 0%;
      transform: rotate(-45deg);
    }
  }
}

.left-nav-bar
  > li.nav-item {
    a{
      display: flex;
      align-items: center;
    }
    i{
      font-size: 26px;
    }
  }
