.fileList {
  list-style: none;
  
  .uploadState {
    .spinner {
      vertical-align: baseline;
      width: 1em;
      height: 1em;
      margin: 0;
      display: inline-block;
    }
  }

  .thumbnail {
    max-height: 100px;
    max-width: 100px;
    height: auto;
    width: auto;
  }
}