footer.app-footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  background-color: #eceeef;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;

  a {
    color: inherit;
  }

  .copyright {
    max-width: 60%;
    @media (max-width: 500px) {
      max-width: 100%;
    }
  }
}

@media (min-width: 576px) {
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    width: calc(100% - 200px);
  }
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
    width: calc(100% - 50px);
  }
}
