footer.app-footer {
  width: 100%;
  background-color: #eceeef;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;

  a {
    color: inherit;
  }

  .copyright {
    max-width: 60%;
    @media (max-width: 500px) {
      max-width: 100%;
    }
  }
}
