// home-page-content
.home-page-content{
  position: relative;
}
// News list
.news-list{
  position: relative;
  .news-item{
    position: relative;
    .card-title {
      display: block;
      font-size: 1.3em;
      margin-bottom: 5px;
   }
   .actions {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}

// news item
.news-item{
  position: relative;
  
  .news-thumb {
    height: 100%;
    width: 250px;
    background-size: cover;
    position: absolute;
  }
  .image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    img{
      max-width: 100%;
      height: auto;
    }
  }
  .news-card-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    .news-settings {
      position: absolute;
      right: 0.125em;
      top: 0.125em;
    }
  }
  .news-footer {
    position: relative;
    display: flex;
    padding-top: 0.5em;
    border-top: solid 1px #ccc;
    margin-top: 0.5em;
    .news-reputation {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// News card on Home page

.sort-news{
  position: relative;
  padding: 1em 0;
  border-bottom: solid 1px #ccc;
  margin-bottom: 1em;

  // Custom design for sort radio buttons
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label{
    position: relative;
    padding-left: 0.125em;
    cursor: pointer;
    color: #4dbd74;
    line-height: 20px;
    display: inline-block;
  }
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 0.125em;
    cursor: pointer;
    color: #73818f;
    line-height: 20px;
    display: inline-block;
  }
}

// Project List
.project-list{
  position: relative;
  border: 3px solid #F1F4F9;
  background: #fff;
  margin: 0 0 29px 0;
  box-sizing: border-box;
  h4.section-title{
    font-weight: 600;
    font-size: 1.25em;
    padding: 1em 0 0 0.5em;
  }
  a.project-link{
    display: block;
    padding: 1em 0;
    padding-left: 1em;
    text-decoration: none;
    color: #565867;
  }
}