a.read-more {
  font-weight: bold;
  color: #3cc8c8;
}

.news-list{
  position: relative;

  ul.list-inline {
    font-size: 1rem;
  }

  .news-item{
    position: relative;
    .card-title {
      display: block;
      font-size: 1.3em;
      margin-bottom: 5px;
   }
   .actions {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}

// News card on Home page
.news-card-content {
  position: relative;
  display: flex;
  .image{
    width: 200px;
    
    img{
      width: 100%;
      height: auto;
    }
  }
  .content{
    flex: 1;
  }
}

.sort-news{
  position: relative;
  padding: 1em 0;
  border-bottom: solid 1px #ccc;
  margin-bottom: 1em;

  // Custom design for sort radio buttons
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label{
    position: relative;
    padding-left: 0.125em;
    cursor: pointer;
    color: #4dbd74;
    line-height: 20px;
    display: inline-block;
  }
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 0.125em;
    cursor: pointer;
    color: #73818f;
    line-height: 20px;
    display: inline-block;
  }
}