.content-container{
  .section-title{
    position: relative;
    padding: 1em 0;
    font-weight: bolder;
    border-bottom: solid 1px #ccc;
    margin-bottom: 1em;
  }
  .single-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    a{
      padding-left: 0.5em;
      flex: 1;
    }
  }
}

// Responsive for user-stats
@media (max-width: 576px) {
  .user-stats{
    .middle-item{
      padding: 1em;
    }
  }
}

// Dropdown link for report option
.dropdown-link{
  cursor: pointer;
}
.news-settings.dropup{
  display: flex;
  justify-content: flex-end;
}
.dropdown-menu a {
  display: block;
}
