.flagItem{
  position: relative;
  float: right;
  padding-left: 1em;
  i{
    cursor: pointer;
  }
  // hide default arrow-up and down icon
  .dropdown-toggle::after{
    display: none !important;
  }
}
.dropup {
  .dropdown-menu.show {
    transform: none !important;
    bottom: 100% !important;
    will-change: auto !important;
    top: auto !important;
    left: 15px !important;
  }
}
