.event-form {
  // Markdown Text Editor
  .text-editor{
    flex-direction: column;
  }
  .article-body{
    p{
      margin-top: 1em;
    }
  }
  input[type="text"], textarea{
    outline: none;
    height: auto;
    border-radius: 0;
    padding: 10px;
    color: #23282c;
    line-height: 1.5em;
    &:active, &:focus{
      outline: none;
      color: #23282c;
    }
  }
}
