.event-form {
  // Markdown Text Editor
  .text-editor{
    flex-direction: column;
  }
  .article-body{
    p{
      margin-top: 1em;
    }
  }
  input[type="text"], textarea{
    outline: none;
    height: auto;
    border-radius: 0;
    padding: 10px;
    color: #23282c;
    line-height: 1.5em;
    &:active, &:focus{
      outline: none;
      color: #23282c;
    }
  }
}

// Event Labels
.event-label{
  position: absolute;
  background: #20a8d8;
  top: 0;
  left: 0;
  height: 1.50em;
  width: 100%;
  font-size: 0.8em;
  padding: 0 0.5em;
  color: #fff;
  font-weight: 600;
  &.upcoming-event{
    background: #4dbd74;
  }
  &.past-event{
    background: #f86c6b;
  }
}

.card.event {
  .card-text {
    height: 3em;
  }
}