.event-form {
  // Markdown Text Editor
  .text-editor{
    flex-direction: column;
  }
  .article-body{
    p{
      margin-top: 1em;
    }
  }
  input[type="text"], textarea{
    outline: none;
    height: auto;
    border-radius: 0;
    padding: 10px;
    border: none;
    color: #23282c;
    background: #e9e9e9;
    line-height: 1.5em;
    box-shadow: 5px 5px 100px #ddd inset, -5px -5px 100px #ddd inset;
    &:active, &:focus{
      outline: none;
      border: none;
      color: #23282c;
      background: #e9e9e9;
      box-shadow: 5px 5px 100px #ddd inset, -5px -5px 100px #ddd inset;
    }
  }
}

// Event Labels
.event-label{
  position: absolute;
  background: #20a8d8;
  top: 0;
  left: 0;
  height: 1.25em;
  font-size: 0.8em;
  padding: 0 0.5em;
  color: #fff;
  font-weight: 600;
  &.upcoming-event{
    background: #4dbd74;
  }
  &.past-event{
    background: #f86c6b;
  }
}