<template name="main">
    {{> Template.dynamic template=header}}
    <div class="app-body">
        {{> Template.dynamic template=sidebar}}
        <main class="main">
            <section class="home-tagline d-none d-sm-block">
                <div class="mx-auto">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 pr-0 pl-0 pb-5">
                                <h2>{{_ "shared.main.title"}}</h2>
                                <h2>{{_ "shared.main.title2"}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Waring for email verification -->
            <!-- {{#if showVerification}}
              <div class="alert alert-danger text-center" role="alert">
                Please verify your email by clicking verification link sent on {{userEmail}}, <a href="#" class="alert-link resend_verification_email">resend verification link</a>.
              </div>
            {{/if}} -->
            <nav class="container">
                <!-- <li class="breadcrumb-item"> -->
                    <a href="/">{{_ "shared.main.home"}}</a> /
                    {{#each breadcrumbs}}
                    <a href="{{url}}">{{text}}</a>
                    {{#if notLast}} / {{/if}}
                    {{/each}}
                <!-- </li> -->
            </nav>
            {{> Template.dynamic template=main}}
        </main>
    </div>
    {{> footer}}
    {{> AddNewModal}}
</template>
<!-- added title -->

<body class="app header-fixed sidebar-fixed aside-menu-fixed pace-done pace-done">
</body>
