// Common Header
.home-tagline {
  background: #152b38;
  color: #fff;

  .header-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
  }
}