<template name="main">
  {{> Template.dynamic template=header}}
  <div class="app-body">
    {{> Template.dynamic template=sidebar}}
    <main class="main">
      <section class="home-tagline d-none d-sm-block">
        <div class="container">
          <div class="row mx-auto">
            <div class="col-sm-12 pr-0 pl-0 pb-5">
              <!-- <span class="header-title">Cardano Update Space</span> probably don't a heading, let's see how it looks without it-->
              <h4>Everything about Cardano, accurate up to the minute.</h4>
            </div>
          </div>
        </div>
      </section>
      <section class="mobile-nav d-block d-sm-none">
        <ul>
          <li><a href="/"><i class="nav-icon icon-home"></i> Home</a></li>
          <li><a href="/projects"><i class="nav-icon icon-notebook"></i> Projects</a></li>
          <li><a href="/events"><i class="nav-icon icon-calendar"></i> Events</a></li>
        </ul>
      </section>
      {{> Template.dynamic template=main}}
    </main>
  </div>
  {{> AddNewModal}}
</template>

<!-- added title -->

<body class="app header-fixed sidebar-fixed aside-menu-fixed pace-done pace-done">
</body>
