// Common Header
.home-tagline {
  background-image: url("img/banner.png");
  color: #fff;
  background-size: cover;
  .header-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
  }
}

.mobile-nav{
  @extend .home-tagline;
  ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1em;
    a{
      font-weight: bold;
      font-size: 1rem;
      color: #fff;
      text-decoration: none;
    }
  }
}