.user-profile {
  position: relative;
  padding-top: 3em;
  .user-info{
    padding: 1em;
    .edit-btn{
      position: absolute;
      top: 0.5em;
      right: 0.5em;
    }
  }
  .user-content {
    position: relative;
    .card{
      display: block;
      padding: 1.125em;
      i, a {
        display: inline;
      }
    }
  }

  @media(max-width: 767px) {
    .user-main-tabs {
      .nav-tabs {
        padding: 10px; border-bottom: none;

        .nav-item { display: block; width: 100%; text-align: center; }
        .nav-link.active { border-radius: 0.25rem; border-color: #dcdcdc; }
      }
      .tab-content {
        border-width: 1px 0px 0px;
      }
    }
  }
}
