$theme-primary: #3cc8c8;

@font-face {
    font-family: 'proxima-nova';
    src: url('/fonts/ProximaNova-Reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'proxima-nova', 'Montserrat', sans-serif !important;
    color: #565867 !important;
    font-size: 0.975rem !important;
    font-weight: 500 !important;
}

.container {
    max-width: 960px;
    @extend .pt-5
}

.card {
    font-family: 'proxima-nova', 'Montserrat', sans-serif !important;
    border: none !important;
    @extend .shadow;
    @extend .rounded;

    .card-title {
        font-weight: 800;
        text-transform: capitalize;

        a {
            color: #565867;
        }
    }

    .card-body {
        .news-body {
            p {
                font-size: 1.2rem !important;
                word-spacing: 3px;
                @extend .card-text;
            }
        }
    }
}

.summary {
    padding: 1em;
    background: #fff;
    border-left: 10px solid #ccc;

    @extend .shadow-lg;
    @extend .mb-5;

    p {
        font-weight: 600;
        font-style: italic;
        @extend .lead;


        &:last-child{
            margin-bottom: 0;
        }
    }
}

.btn-outline-primary {
    color: $theme-primary;
    background-color: transparent;
    background-image: none;
    border-color: $theme-primary;

    &:hover {
        background-color: $theme-primary;
        border-color: $theme-primary;
    }
}

.bg-dark {

    color: #fff;
}

.sidebar {
    background: #0e2c37;

    button.sidebar-minimizer {
        background-color:  #091a26 !important;
        border-color: #091a26;
        color: #fff;

        &:hover, &::before {
            background-color:  #091a26 !important;
            border-color: #091a26;
            color: #fff;
        }
    }
}

.news-settings {
    .dropdown-toggle {
        cursor: pointer;

        &::after {
            border: none;
        }
    }
}
header {
    &.app-header {
        border-bottom: 1px solid #091a26;
    }
    &.bg-dark {
        background-color:  #091a26 !important;
    }

    .navbar-nav {
        li.nav-item {
            a.nav-link {
                color: #fff;

                &:hover, &:focus {
                    color: $theme-primary;
                }
            }
        }
    }

    button.navbar-toggler {
        color: #fff;

        &:hover {
            color: $theme-primary;
            outline: 0;
        }

        &:focus {
            outline: 0;
        }
    }

    a.navbar-brand {
        color: #fff;
    }
}

.nav-tabs {
    li.nav-item {
        a.nav-link {
            &.active {
                color: $theme-primary;
            }
        }
    }
}

.main {
    .container-fluid {
        padding-top: 30px;
    }
}

.help-block, {
    color: #a94442;
}

button {
    &.autoform-add-item, &.autoform-remove-item {
        border: none;
        background-color: transparent;
        text-align: center;
        padding: 0;

        &:hover, &:focus, &:active {
            border: none;
            background-color: transparent;
            text-align: center;
        }

        .glyphicon-plus {
            color: #20a8d8;
            font-size: 20px;

            &:before {
                content: "+";
            }
        }

        .glyphicon-minus {
            color: #f86c6b;
            font-size: 20px;

            &:before {
                content: "x";
            }
        }
    }
}

#projectQuestionsForm {
    h3.panel-title {
        display: none;
    }

    .autoform-array-item {
        .panel-heading {
            display: none;
        }

        .panel-body {
            display: inline-flex;
            justify-content: space-evenly;

            .form-group {
                width: 100%;
                margin-right: 1rem;
            }
        }
    }
}

.SearchMarker{background-color: lightblue}

.wizard {
    .steps {
        margin: 25px auto;

        ol {
            @extend .nav;
            @extend .nav-tabs;
            @extend .nav-justified;

            li {
                @extend .nav-item;

                a {
                    @extend .text-success;
                    text-decoration: none;
                    font-weight: bold;

                    &:active, &:hover, &:focus {
                        @extend .text-success;
                        text-decoration: none;
                        font-weight: bold;
                    }
                }

                &:after {
                    content: " ";
                    opacity: 0;
                    margin: 0 auto;
                    bottom: 0px;
                    border: 5px solid transparent;
                    border-bottom-color: #5bc0de;
                    vertical-align: middle;
                    display: table;
                    transition: 0.1s ease-in-out;
                }

                &.active {
                    color: #5bc0de;
                    font-weight: bold;

                    &:after {
                        content: " ";
                        opacity: 1;
                        margin: 0 auto;
                        bottom: 0px;
                        border: 10px solid transparent;
                        border-bottom-color: #5bc0de;
                        vertical-align: middle;
                        display: table;
                    }
                }
            }
        }
    }
}

.select2.select2-container--default {
  .select2-selection--multiple {
    border-color: #e4e7ea;

    .select2-selection__rendered { vertical-align: middle; }
    .select2-selection__choice { margin: 5px 5px 5px 0px; background-color: #f1f1f1; }
    .select2-selection__clear { font-size: 20px; margin-right: 8px; margin-top: 4px; }
  }

  .select2-search--inline .select2-search__field { margin: 6px 0px 6px; font-size: 14px; padding: 0px 6px; }
  &.select2-container--focus {
    .select2-selection--multiple {
      border-color: #8ad4ee;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25);
    }
  }
}
body .select2-dropdown {
  border-color: #8ad4ee;
}
